* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2%;
}
.Container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 192, 203, 0.4);
  border-radius: 2rem;
  min-width: 30rem;
  justify-content: center;
  align-items: centers;
  box-shadow: 2px 3px 2px black;
  border: 1px solid gray;
}
h1 {
  display: flex;
  flex-flow: column wrap;
  margin: 2rem;
}
form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
form label {
  margin-top: 0.8rem;
}
form input {
  margin-top: 0.5rem;
  border-radius: 7px;
  padding: 0.8rem;
  min-width: 20rem;
  border: 0.5px solid gray;
  font-size: 20px;
  box-shadow: 2px 3px 2px black;
}
form input:hover,
form input:focus {
  background-color: rgb(230, 228, 228);
}
form select {
  margin-top: 0.5rem;
  border-radius: 7px;
  padding: 0.8rem;
  border: 0.5px solid gray;
  font-size: 20px;
  box-shadow: 2px 3px 2px black;
}
form button {
  margin-left: 6.5rem;
  max-width: 7rem;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 20px;
  border: 0.5px solid gray;
  box-shadow: 2px 3px 2px black;
  border-radius: 2rem;
  background-color: rgb(202, 195, 196);
  cursor: pointer;
}
form button:hover {
  background-color: aliceblue;
  transition-duration: 0.4s;
}
